.criminalsContainer {
    display: flex;
    flex-wrap: wrap;
}

.criminalList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.criminals {
    flex-basis: 25%;
    margin: 10px;
    padding: 5px;
    border: 2px solid black;
}

.criminalTitle {
    margin-left: auto;
    margin-right: auto;
}