@import "./criminals.css";
@import "./officer.css";
body {
    background-image: linear-gradient(to right, blue, black, red);
}

.filters {
    display: flex;
}

.lists {
    display: flex;
}

.criminalsContainer {
    flex: 4;
}

.noteAside {
    flex: 1;
}

.noteList {
    display: flex;
    flex-direction: column;
}

.notes {
    color: white;
    background-image: linear-gradient(blue, black, red);
    border: 2px solid black;
    height: 175px;
    width: 175px;
    margin: 15px 0px;
    padding: 15px;
}

.noteFormContainer {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    max-width: 250px;
    padding: .35rem;
}