.officerList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.officers {
    flex-basis: 25%;
    margin: 10px;
    padding: 5px;
    border: 2px solid black;
}

.officerTitle {
    text-align: center;
}